.Neow
    font-family: 'Press Start 2P', cursive
    position: relative
    background: black
    display: flex
    justify-content: flex-start
    align-items: center
    margin: 5px
    overflow: hidden
    .Neow__container--row
        position: relative
        display: flex
        flex-direction: row
        align-items: center
        margin: 5%
        .Neow__container--column
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            position: relative
            .Neow__distance
                color: white
                position: absolute
                font-size: 9px
                left: 30px
                top: 70px
                white-space: nowrap
        .Neow__earth
            width: 80px
            height: 80px
        .Neow__meteor--fire
            z-index: 100
            position: relative
            width: 90px
            height: 90px
            animation: shake
            animation-iteration-count: infinite
            animation-duration: 1s
            right: 20px
        .Neow__moon
            width: 30px
            height: 30px
            position: absolute
            animation-name: myOrbit
            animation-iteration-count: infinite
            animation-duration: 20s
            animation-timing-function: linear
    .Neow__fact-board
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
        border: 1px white
        border-style: dashed
        height: 80%
        width: 33%
        .Fact-board__title
            color: #00ccff
            margin: 5%
        .Fact-board__list
            list-style: none
            margin: 0
            padding: 0
            width: 95%
            height: 95%
            overflow-y: overlay
            display: flex
            justify-content: space-between
            flex-direction: column
        .Error
            animation: blinker 2s infinite
            top: 50px

            
         
           
   

@media screen and (max-device-width: 1540px) 
    .Neow
        flex-direction: column-reverse
        justify-content: space-around
        .Neow__fact-board
            margin: 5%
            height: 60%
            width: 80%



@keyframes shake
    10%, 90%
        transform: translate3d(-1px, 0, 0)
    20%, 80%
        transform: translate3d(2px, 0, 0)
    30%, 50%, 70%
        transform: translate3d(-1px, 0, 0)
    40%, 60%
        transform: translate3d(2px, 0, 0)

@keyframes myOrbit 
    from 
        transform: rotate(0deg) translateX(200%) rotate(0deg)
    to    
        transform: rotate(360deg) translateX(200%) rotate(-360deg)

@keyframes blinker 
    0%
        opacity: 0
    49%
        opacity: 0
    50%
        opacity: 1